.card-inline-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1.3em;
    row-gap: .5em;
	.card-flip-wrapper {
    width: 15.8216em;
		height: 324px;
		display: inline-block;
		margin: 0 36px 56px 0;
		.card {
			overflow: inherit;
		}
	}
	.card {
    width: 15.8216em;
		height: 324px;
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
		position: relative;
    border-radius: 10px;
		.card-img {
      margin-top: 30px;
			width: 250px;
			height: 100px;
		}
	}
}
.card {
  padding: 10px;
	margin-bottom: 16px;
	background-color: white;
	position: relative;
	box-shadow: 3px 4px 9px 0px #c6c6c6, 0 0 0 1px #d4d4d5;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &-top{
    display: flex;
    align-items: center;
  }
	.card-img {
		margin-bottom: 16px;
		object-fit: cover;
		width: 100%;
		max-width: 100%;
		height: auto;
	}
	.card-block {
    padding: 15px;
		.btn-group-justified {
			>.btn {
				width: 50%;
			}
		}
	}
	.card-title {
		font-size: 18px;
		line-height: 24px;
    color: #676767 !important;
    word-wrap: break-word;
	}
	.card-block.card-block-separator {
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
		&:last-child {
			border-top: 1px solid rgba(0, 0, 0, 0.05);
		}
	}
	&:hover {
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	}
}

.card-meta {

  justify-content: center !important; 
}


.card-publication {
	.card-meta {
		margin-bottom: 6px;
	}
}
.card.card-publication {
	width: 15.8216em;
	height: auto;
}

.card-tail{
  width: 100% !important;
}
.card-meta{
  display: flex;
  align-items: center;
}

.card-body{
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
  &__group-year, &__group-body, &__group-color, &__group-engine, &__group-invoice {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  &__group-engine {
    align-items: center;
    .value{
      display: flex;
      flex-flow: column nowrap;
    }
  }
}

.link{
  display: flex;
  flex-flow: column nowrap;
  row-gap: 15px;
}
.card-footer{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black ;
  padding: 0px 15px;
  .footer-item{
    padding-top: 10px
  }
}

.value{
  align-self: flex-end
}


@import './media/card.scss';