:root {
  font-family: Roboto;
  box-sizing: border-box;
}



*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 320px;
  margin: 40px auto;
  padding: 15px;
}

ul {
  padding: 0em;
}

li{
  list-style: none
}

a{
  color: black;
  text-decoration: none
}
@import './media/container.scss';