.container-tail {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.item {
  height: 25%;
  width: 90%;
  margin: 1%;
  background-color: white;
	position: relative;
	box-shadow: 3px 4px 9px 0px #c6c6c6, 0 0 0 1px #d4d4d5;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 10px;
  &:hover {
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	}
  .card-img{
    width: 200px;
  }
  .card-top{
    display: flex;
    flex-flow: column nowrap;
  }
  .card-title{
    font-size: 16px;
  }
  .link {
    width: 100%;
  }
  .card-body{
    padding: 0px .625em;
  }
}

.item:nth-child(1) {

  height: 40%;
}

.item:nth-child(2) {

  height: 20%;
}

.item:nth-child(3) {
  height: 30%;
}

.item:nth-child(4) {

  height: 50%;
}

.item:nth-child(5) {

  height: 43%;
}

.item:nth-child(6) {

  height: 28%;
}

.item:nth-child(7) {

  height: 65%;
}

@import './media/tails.scss';