@import './breackpoints.scss';

@media (min-width: 380px) {
  .search-wrapper{
    width: 300px;
    input{
      height: 35px;
      width: 70%;
    }
  }
}


@media (min-width: 420px) {
  .search-wrapper{
    width: 400px;
    input{
      width: 78%;
    }
  }
}

@media (min-width: $sm) {
  .search-wrapper{
    width: 500px;
  }
}
